.apresentationSection{
    width: 100vw;
    box-sizing: border-box;

    padding: 1rem;

    gap: .9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selfImage{
    max-width: 250px;
    max-height: 250px;

    box-sizing: border-box;
    padding: 0.5rem;
    border: 0.2rem solid var(--whiteColor);
    border-radius: 50%;

    cursor: pointer;
    transition: all 200ms ease-in-out;
}

@media (max-width: 600px) {
    .selfImage{
        max-width: 200px;
        max-height: 200px;
    }
}

.selfImage:hover{
    padding: 1rem;
    filter: brightness(90%);
    border: 0.4rem solid #9D00FF;
}