:root{
  --darkColor: rgb(2, 3, 7);
  --whiteColor: rgb(255, 255, 255);
  --purpleColor: rgb(69, 16, 104);
}

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.bgDark{
  background-color: var(--darkColor);
}

.bgDark *{
  color: var(--whiteColor);
}

.bgWhite{
  background-color: var(--whiteColor);
}

.bgWhite *{
  color: var(--darkColor);
}

.bgPurple{
  background-color: var(--purpleColor);
}

.bgPurple *{
  color: var(--whiteColor);
}

.bgDark ::selection{
  background-color: var(--whiteColor);
  color: var(--darkColor);
}

.bgWhite ::selection{
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

h1, h2, h3 {
  font-family: var(--fontTitles);
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
}

p {
  font-family: var(--fontGoogleSans);
}
