.apresentationOptions{
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.option{
    font-size: 1.5rem;
}

.optionGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    gap: .3rem;
    transition: all ease-in-out 100ms;
}

.optionGroup:hover{
    opacity: 0.5;
}

.optionGroup p{
    font-size: 11pt;
}

@media (max-width: 500px) {
    .option{
        font-size: 1rem;
    }

    .optionGroup p{
        font-size: 10pt;
    }
}

@media (max-width: 400px) {
    .option{
        font-size: .8rem;
    }

    .apresentationOptions{
        gap: .6rem;
    }

    .optionGroup p{
        font-size: 8pt;
    }
}