
.pageSection {
    display: flex;
    align-items: center;

    width: 100vw;
    box-sizing: border-box;

    gap: 0.5rem;
    padding: 2rem 2.5rem;
}

.sectionLeft{
    flex-direction: row;
}

.sectionRight{
    flex-direction: row-reverse;
}

.context{
    display: flex;
    flex-direction: column;

    gap: 0.8rem
}

.contextLeft{
    align-items: flex-start;
}

.contextRight{
    align-items: flex-end;
}

.contextRight *{
    text-align: right;
}

.pageSectionImage{
    max-width: 200px;
    max-height: 200px;

    border-radius: 0.5rem;
    border: 1px solid rgb(34, 34, 34);
}