.imageSection{

    box-sizing: border-box;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: .2rem 2rem;
}

.center{
    align-items: center;
}

.left{
    align-items: flex-start;
}

.right{
    align-items: flex-end;
}

.image{
    box-sizing: border-box;
    max-width: 90%;
    max-height: 8rem;
        
    object-fit: cover;
    object-position: center;

    border-radius: .8rem;
}

@media (max-width: 600px) {
    .image{
        max-height: 180px;
    }
}